.header {
nav {
    padding: 1.0625rem 1.5rem;
}
&__logo {

    img {
      width: 8.8125rem;
      height: 1.375rem;
    }

  }

     &__menu {
        > span {
display: block;
width: 26px;
height: 5px;
background-color: $darkBlue;
padding: 1px;
&:not(:last-child) {
    margin-bottom: 3px;
}
        }
    }
    &__links {
        a {
            font-size: $font-sm;
            color: $grayishBlue;
            transition: all .3s ease-in-out;
            position: relative;
           &:not(:last-child) {
               margin-right: 32px;
           }
           &::before {
               content : "";
               position: absolute;
               display: block;
               width: 100%;
               height: 5px;
               background: linear-gradient(to right , $limeGreen,$brightCyan);
               left: 0;
               bottom: -38px;
               opacity: 0;
               transition: all .5s ease-in-out;
           }       
           &:hover {
            color: $darkBlue;
            &::before {
                opacity: 1;
            }
        }
        }

       

    }
    &__cta {
        font-size: $font-sm;
        color: #fff;
        transition: opacity 300ms ease-in-out;
        &:hover {
            opacity: 0.75;
        }
    }
}